In [18]:
import pandas as pd
from utils import w_dir, w_asr, w_cloud, w_expense, w_may, w_pl, w_sales

### Read Data
from 
https://www.kaggle.com/datasets/thedevastator/unlock-profits-with-e-commerce-sales-data?select=Cloud+Warehouse+Compersion+Chart.csv

In [19]:
amzn_sale_r = pd.read_csv(w_dir + w_asr)
cloud = pd.read_csv(w_dir + w_cloud)
expenses = pd.read_csv(w_dir + w_expense)
may  = pd.read_csv(w_dir + w_may)
pl = pd.read_csv(w_dir + w_pl)
intsales = pd.read_csv(w_dir + w_sales)

/tmp/ipykernel_7933/2045193014.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  amzn_sale_r = pd.read_csv(w_dir + w_asr)

In [20]:
amzn_sale_r.drop("Unnamed: 22", axis = 1, inplace = True)
amzn_sale_r = amzn_sale_r[amzn_sale_r["Status"].str.contains("Shipp")]
amzn_sale_r = amzn_sale_r[amzn_sale_r["Qty"]>0]
amzn_sale_r["Date"] = pd.to_datetime(amzn_sale_r["Date"])
amzn_sale_r['Day'] = amzn_sale_r['Date'].dt.day_name()
amzn_sale_r['Month'] = amzn_sale_r['Date'].dt.month_name()
amzn_sale_r['Year'] = amzn_sale_r['Date'].dt.year

amzn_sale_r.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109704 entries, 1 to 128974
Data columns (total 26 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               109704 non-null  int64
 1   Order ID            109704 non-null  object
 2   Date                109704 non-null  datetime64[ns]
 3   Status              109704 non-null  object
 4   Fulfilment          109704 non-null  object
 5   Sales Channel       109704 non-null  object
 6   ship-service-level  109704 non-null  object
 7   Style               109704 non-null  object
 8   SKU                 109704 non-null  object
 9   Category            109704 non-null  object
 10  Size                109704 non-null  object
 11  ASIN                109704 non-null  object
 12  Courier Status      109693 non-null  object
 13  Qty                 109704 non-null  int64
 14  currency            109477 non-null  object
 15  Amount              109477 non-null  float64
 16  ship-city           109678 non-null  object
 17  ship-state          109678 non-null  object
 18  ship-postal-code    109678 non-null  float64
 19  ship-country        109678 non-null  object
 20  promotion-ids       78743 non-null   object
 21  B2B                 109704 non-null  bool
 22  fulfilled-by        31892 non-null   object
 23  Day                 109704 non-null  object
 24  Month               109704 non-null  object
 25  Year                109704 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(3), object(19)
memory usage: 21.9+ MB

In [22]:
amzn_sale_r[["Qty","Size","Amount"]].groupby("Qty").agg({"Amount":"sum"})

         Amount
Qty
0           0.0
1    70598700.0
2      371184.0
3       49863.0
4       17984.0
5        7670.0
8        5584.0
9           0.0
13          0.0
15          0.0

### Merge data